PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_Hgwb2TzcxX6A@ep-holy-fire-aotl678n-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_bG9naWNhbC1mYXduLTc5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_RfR9n3BME9lZ4TDrW1FUu1YUfvFZFOSHfREn2nnq5V

SENTRY_DSN=https://f37f8f8c08389673726740ea33233542@o4511346399969280.ingest.us.sentry.io/4511346405736448
  

  STREAM_API_KEY=ubx8bah3vw5x
  STREAM_API_SECRET=fbdbz3ue29j8xrhq3qvudgxukj6bynghcw8mhctkdxfqz9wbj8hyk7j9n6f4y594    


IMAGEKIT_PUBLIC_KEY=public_AwE3DeeEkg8G27W+m/EzzzkWEro=
IMAGEKIT_PRIVATE_KEY=private_J6ybofMgKc2oGCFvGtkJ85qMpNU=

IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/4tqj8l7s9
